<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page - RafMio</title>
  </head>
  <body>
    <header>
      <h1><a href='/'>RafMio</a></h1>
    </header>
    <nav>
      <a href="/">Home Page</a>
    </nav>
    <main>
      <h2>Last notes</h2>
      <p>There is nothing else</p>
    </main>
  </body>
</html>
