{{ define "mainTemplate" -}}
  <h1>This is the layout header</h1>
  {{- block "body" . }}
    <h2>There are {{ len . }} products in the source data</h2>
  {{ end }}
  <h1>This is the layout footer</h1>
{{ end }}


<!-- The templates must be loaded so that the file that contains the block action
is loaded before the file that contains the define action that redefines the
template. When the templates are loaded, the template defined in the list.html
file redefines the template named body so that the content in the list.html
file replaces the content in the template.html file. -->
