{{ define "currency" }}{{ printf "$%.2f" . }}{{ end }}

{{ define "basicProduct" -}}
  Name: {{ .Name }}, Category: {{ .Category }}, Price:
  {{- template "currency" .Price }}
{{- end }}

{{ define "expensiveProduct" -}}
  Expensive Product {{ .Name }} ({{ template "currency" .Price }})
{{- end }}

{{ define "mainTemplate" -}}
  <h1>There are {{ len . }} products in the source data.</h1>
  <h1>First product: {{ index . 0 }}</h1>
  {{ range . -}}
    {{ if lt .Price 100.00 -}}
      <h1>{{ template "basicProduct" . }}</h1>
    {{ else if gt .Price 1500.00 -}}
      <h1>{{ template "expensiveProduct" . }}</h1>
    {{ else -}}
      <h1>Midrange Product: {{ .Name }} ({{ template "currency" .Price}})</h1>
    {{ end -}}
  {{ end }}
{{- end}}
